body {
    background-color: #f4eeff;
    padding: 20px;
    margin: 0;
  }
  h2, p, ul, li {
    font-family: sans-serif;
  }
  h1 {
      color: #000000;
      font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: rgb(255, 255, 255);
    padding: 0;
  }
  ul.header li a {
    color: #221D23;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;

  }
  .content {
    background-color: #424874;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .content a{
    color: #6699CC;
  }
  .active {
    background-color: #a6b1e1;
  }